.LoginForm {
    
    background-color: #369;
    font-family: "Helvetica Neue",Helvetica,Verdana,Arial,sans-serif;
    font-size: .75em;
    line-height: 1;
    text-align: center;
    height: calc(100% - 85px);
    overflow-y: auto;
    padding-top: 10px;
    width: 100%;
    position: relative;
}

.login__input {
    margin-bottom: .2rem;
    padding: .5rem 0;
    display: block;
    font-size: 100%;
}

.login__input > label {
    color: white;
    cursor: default;
    box-sizing: border-box;
    width: 20%;
    
}
.login__input >input {
    border: 1px solid #ccc;
    border-radius: 3px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.08) inset;
    color: #333;
    display: inline-block;
    font-size: 13px;
    line-height: 18px;
    margin-top: 3px;
    padding: .5rem;
    vertical-align: middle;
    width: 20%;
}

.login-footer {
    color: white;
    padding: 15px;
    position: relative;
    text-align: center;
}
.input{
    background-color: rgb(250, 255, 189) !important;
    background-image: none !important;
    color: rgb(0, 0, 0) !important;
}
.webdocs-logo {
    width: 246px;
    height:50px ;
    display: block;
    margin: 0 auto;
}

.button-green {
    background-color: #74c30e;
    border-color: #66ab0c;
    color: white;
    cursor: pointer;
    font-size: .9rem;
    line-height: .9rem;
    padding: .45rem .675rem;
    width: 20%;
}
.login-footer a {
    color:white;
    text-decoration: none;
}

.login-form-item {
    box-sizing: border-box;
    margin-bottom: .2rem;
    padding: .5rem 0;
    color: white;
    border: 0;
    outline: 0;
    font-size: 100%;
    background: transparent;
    display: block;
}
.login-form-item a {
    color:white;
    text-decoration: none;
}
.formdiv{
    display: grid;
}

